In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv("dataset_Facebook.csv")

In [3]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [4]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [6]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [7]:
df.isnull()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [11]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [12]:
df.shape

(495, 19)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x = df.iloc[:,0:18]
y = df['Total Interactions']

In [15]:
x

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0

In [16]:
y

0       100
1       164
2        80
3      1777
4       393
       ...
494     176
495      84
496      75
497     115
498     136
Name: Total Interactions, Length: 495, dtype: int64

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y)
X_train.shape , X_test.shape, Y_train.shape, Y_test.shape

((371, 18), (124, 18), (371,), (124,))

In [18]:
X_train

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share
228,131728,Photo,2,7,4,3,0.0,14824,21863,868,591,966,13498,8560,650,64,367.0,25.0
415,104070,Photo,1,3,4,7,0.0,49632,1110282,1653,1480,2567,1107833,48368,1513,7,227.0,15.0
364,115893,Photo,1,4,3,13,0.0,24264,51899,1599,1485,3153,48466,21928,1392,9,194.0,33.0
425,102112,Link,3,3,1,3,0.0,6876,10885,282,245,337,9403,5752,259,2,68.0,15.0
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,106928,Photo,1,4,4,3,1.0,5290,8132,612,570,857,6032,3794,454,1,89.0,14.0
369,113028,Photo,2,4,7,3,1.0,5582,9903,708,620,923,6315,3422,557,2,163.0,35.0
307,124940,Photo,3,6,3,3,1.0,4644,8178,768,683,1000,5651,3144,506,4,154.0,26.0
429,100732,Photo,1,3,7,15,0.0,3772,6971,144,144,1033,6932,3758,140,0,3.0,0.0
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0

In [19]:
X_test

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share
35,138895,Photo,2,12,1,11,0.0,4512,7808,423,284,431,5183,2954,316,6,172.0,21.0
96,137059,Photo,1,10,6,3,0.0,1101,2548,324,287,2418,1284,704,220,3,51.0,11.0
231,131630,Photo,3,7,2,13,0.0,2973,5063,356,297,415,3764,2208,266,0,94.0,20.0
50,138353,Photo,2,11,1,9,0.0,1728,3155,108,65,95,2313,1232,77,1,48.0,9.0
308,124940,Photo,3,6,2,13,0.0,22464,29650,1029,934,1408,9376,6864,546,3,142.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,124940,Photo,2,6,6,9,0.0,6952,11469,909,779,1229,7431,4292,646,11,231.0,43.0
70,137893,Photo,1,11,5,10,1.0,39344,103050,588,460,695,39304,11392,336,7,146.0,9.0
129,136393,Photo,1,10,6,12,0.0,754,1510,206,205,252,1430,690,175,0,3.0,0.0
79,137177,Photo,1,11,7,12,0.0,3754,8533,658,640,2085,6838,3224,598,2,29.0,7.0
187,134879,Photo,2,9,7,10,0.0,1804,2968,330,280,352,2293,1354,234,0,61.0,6.0

In [20]:
Y_train

228     456
415     249
364     236
425      85
15      108
       ...
412     104
369     200
307     184
429       3
379    2177
Name: Total Interactions, Length: 371, dtype: int64

In [21]:
Y_test

35     199
96      65
231    114
50      58
308    163
      ...
300    285
70     162
129      3
79      38
187     67
Name: Total Interactions, Length: 124, dtype: int64

# Merging Data

### merging data columnwise

In [22]:
fb_data1 = x.join(y)  
fb_data1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [23]:
fb_data1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [24]:
fb_data1.shape

(495, 19)

### merging data rowwise

In [25]:
x2 = df.iloc[:250]
x2.shape

(250, 19)

In [26]:
y2 = df.iloc[250:496]
y2.shape

(245, 19)

In [27]:
fb_data2 = pd.concat([x2, y2]) 
fb_data2.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [28]:
fb_data2.shape

(495, 19)

In [29]:
df.sort_values(by=['Total Interactions'],inplace=True)

In [30]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [31]:
df.sort_values(by=['Total Interactions'],ascending=False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0

In [32]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [33]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0

In [34]:
df.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

# Transpose data

In [35]:
df_trans = df.transpose()
df_trans

,21,76,441,417,100,422,428,129,429,431,...,176,199,323,101,3,349,460,168,379,244
Page total likes,138414,137893,98195,104070,137020,102112,100732,136393,100732,100732,...,135195,132817,123047,137020,139441,117764,92507,135428,111620,130791
Type,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,1,1,1,1,1,1,1,1,1,1,...,3,3,3,2,2,3,3,1,3,2
Post Month,12,11,3,3,10,3,3,10,3,3,...,9,8,6,10,12,5,2,9,4,7
Post Weekday,7,3,5,3,4,1,7,6,7,7,...,6,4,1,4,2,5,1,3,1,3
Post Hour,10,2,4,10,9,19,15,12,15,12,...,3,10,10,3,10,13,13,10,14,5
Paid,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
Lifetime Post Total Reach,1384,1228,1845,1874,1357,238,5132,754,3772,4094,...,22304,33536,56672,68896,50128,81856,55520,41984,105632,180480
Lifetime Post Total Impressions,2467,2392,2670,2474,2453,570,9067,1510,6971,7469,...,37159,64850,104966,104952,87991,124753,665792,68290,147918,319133
Lifetime Engaged Users,15,17,9,25,37,143,398,206,144,206,...,1805,1954,2579,2624,2211,3000,4544,3370,3984,8072
Lifetime Post Consumers,15,17,9,25,37,142,398,205,144,203,...,984,1016,1334,1326,790,1637,3586,2420,2254,4010
Lifetime Post Consumptions,20,19,9,31,55,834,1690,252,1033,1420,...,1618,1678,1850,1952,1119,2718,6624,4074,3391,6242
Lifetime Post Impressions by people who have liked your Page,2196,2392,1614,1483,2154,567,9065,1430,6932,7451,...,22864,50076,78678,35707,61027,52477,648611,34802,48575,108752
Lifetime Post reach by people who like your Page,1172,1228,1008,1062,1120,236,5132,690,3758,4088,...,13304,24448,37408,19840,32048,27392,47488,20928,27328,51456
Lifetime People who have liked your Page and engaged with your post,15,17,9,15,32,99,393,175,140,200,...,1349,1564,1831,1354,1386,1756,3430,2126,1936,3316
comment,0,0,0,0,0,0,0,0,0,0,...,29,33,20,26,58,45,146,144,51,372
like,0.0,0.0,0.0,0.0,0.0,2.0,2.0,3.0,3.0,4.0,...,1047.0,1155.0,1372.0,1505.0,1572.0,1639.0,1546.0,1622.0,1998.0,5172.0
share,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,98.0,102.0,47.0,95.0,147.0,122.0,181.0,208.0,128.0,790.0
Total Interactions,0,0,0,0,0,2,2,3,3,4,...,1174,1290,1439,1626,1777,1806,1873,1974,2177,6334

# shape and reshape data

In [36]:
df.shape

(495, 19)

In [37]:
total_interaction = np.array(df['Total Interactions'])

In [38]:
total_interaction

array([   0,    0,    0,    0,    0,    2,    2,    3,    3,    4,    4,
          5,    5,    6,    6,    6,    7,    7,    7,    8,    9,    9,
         10,   10,   10,   10,   12,   14,   14,   15,   15,   17,   17,
         17,   17,   18,   18,   21,   24,   25,   25,   28,   28,   29,
         30,   32,   32,   34,   34,   34,   35,   36,   36,   38,   38,
         38,   39,   39,   39,   39,   39,   39,   40,   41,   42,   42,
         44,   44,   45,   45,   46,   48,   49,   49,   50,   53,   53,
         53,   53,   54,   54,   54,   55,   55,   56,   56,   57,   58,
         58,   58,   59,   59,   60,   60,   61,   62,   63,   63,   64,
         65,   65,   66,   66,   66,   67,   67,   67,   67,   67,   68,
         68,   68,   68,   69,   69,   70,   70,   70,   70,   71,   71,
         71,   71,   72,   72,   72,   72,   73,   73,   73,   74,   75,
         75,   75,   75,   75,   75,   77,   79,   79,   79,   80,   81,
         81,   81,   82,   83,   83,   83,   83,   84,   84,   84,   84,
         85,   85,   85,   86,   86,   86,   87,   87,   87,   88,   89,
         89,   90,   90,   90,   90,   90,   91,   91,   92,   93,   94,
         94,   94,   95,   95,   96,   96,   96,   97,   97,   97,   97,
         97,   98,   98,   99,   99,   99,  100,  100,  100,  100,  101,
        101,  103,  103,  104,  104,  105,  106,  106,  106,  107,  107,
        108,  108,  110,  110,  113,  114,  114,  114,  114,  115,  115,
        115,  115,  117,  117,  117,  117,  117,  118,  118,  118,  118,
        119,  119,  119,  120,  120,  121,  121,  121,  121,  122,  122,
        122,  122,  123,  124,  125,  125,  125,  126,  126,  126,  126,
        127,  128,  128,  129,  130,  131,  132,  132,  133,  134,  135,
        135,  136,  136,  137,  137,  138,  139,  139,  142,  142,  143,
        143,  144,  148,  148,  148,  149,  149,  152,  152,  152,  154,
        155,  157,  158,  160,  160,  162,  162,  162,  162,  163,  163,
        163,  163,  164,  164,  165,  165,  166,  166,  167,  168,  170,
        171,  172,  172,  173,  174,  174,  176,  176,  178,  179,  179,
        180,  180,  182,  183,  184,  185,  186,  186,  188,  188,  188,
        189,  189,  190,  190,  192,  193,  194,  194,  195,  199,  199,
        200,  200,  202,  202,  202,  203,  203,  204,  204,  208,  210,
        211,  212,  212,  214,  217,  217,  217,  218,  218,  220,  222,
        224,  225,  225,  226,  226,  228,  228,  230,  232,  232,  233,
        234,  234,  235,  236,  237,  238,  238,  238,  242,  242,  243,
        243,  245,  249,  251,  252,  252,  252,  254,  255,  257,  262,
        263,  264,  265,  266,  269,  269,  271,  271,  271,  271,  273,
        274,  276,  279,  280,  282,  282,  285,  287,  288,  290,  294,
        295,  299,  300,  305,  309,  311,  311,  313,  313,  316,  330,
        335,  337,  339,  342,  355,  363,  367,  376,  378,  378,  387,
        390,  393,  404,  409,  409,  410,  420,  421,  429,  430,  441,
        447,  454,  456,  458,  470,  472,  490,  494,  505,  515,  528,
        550,  557,  572,  587,  587,  596,  599,  605,  622,  624,  633,
        691,  713,  730,  771,  787,  818,  823,  881,  931,  948, 1009,
       1136, 1174, 1290, 1439, 1626, 1777, 1806, 1873, 1974, 2177, 6334],
      dtype=int64)

In [39]:
total_interaction.shape

(495,)

In [40]:
total_interaction.reshape(495,1)

array([[   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   2],
       [   2],
       [   3],
       [   3],
       [   4],
       [   4],
       [   5],
       [   5],
       [   6],
       [   6],
       [   6],
       [   7],
       [   7],
       [   7],
       [   8],
       [   9],
       [   9],
       [  10],
       [  10],
       [  10],
       [  10],
       [  12],
       [  14],
       [  14],
       [  15],
       [  15],
       [  17],
       [  17],
       [  17],
       [  17],
       [  18],
       [  18],
       [  21],
       [  24],
       [  25],
       [  25],
       [  28],
       [  28],
       [  29],
       [  30],
       [  32],
       [  32],
       [  34],
       [  34],
       [  34],
       [  35],
       [  36],
       [  36],
       [  38],
       [  38],
       [  38],
       [  39],
       [  39],
       [  39],
       [  39],
       [  39],
       [  39],
       [  40],
       [  41],
       [  42],
       [  42],
       [  44],
       [  44],
       [  45],
       [  45],
       [  46],
       [  48],
       [  49],
       [  49],
       [  50],
       [  53],
       [  53],
       [  53],
       [  53],
       [  54],
       [  54],
       [  54],
       [  55],
       [  55],
       [  56],
       [  56],
       [  57],
       [  58],
       [  58],
       [  58],
       [  59],
       [  59],
       [  60],
       [  60],
       [  61],
       [  62],
       [  63],
       [  63],
       [  64],
       [  65],
       [  65],
       [  66],
       [  66],
       [  66],
       [  67],
       [  67],
       [  67],
       [  67],
       [  67],
       [  68],
       [  68],
       [  68],
       [  68],
       [  69],
       [  69],
       [  70],
       [  70],
       [  70],
       [  70],
       [  71],
       [  71],
       [  71],
       [  71],
       [  72],
       [  72],
       [  72],
       [  72],
       [  73],
       [  73],
       [  73],
       [  74],
       [  75],
       [  75],
       [  75],
       [  75],
       [  75],
       [  75],
       [  77],
       [  79],
       [  79],
       [  79],
       [  80],
       [  81],
       [  81],
       [  81],
       [  82],
       [  83],
       [  83],
       [  83],
       [  83],
       [  84],
       [  84],
       [  84],
       [  84],
       [  85],
       [  85],
       [  85],
       [  86],
       [  86],
       [  86],
       [  87],
       [  87],
       [  87],
       [  88],
       [  89],
       [  89],
       [  90],
       [  90],
       [  90],
       [  90],
       [  90],
       [  91],
       [  91],
       [  92],
       [  93],
       [  94],
       [  94],
       [  94],
       [  95],
       [  95],
       [  96],
       [  96],
       [  96],
       [  97],
       [  97],
       [  97],
       [  97],
       [  97],
       [  98],
       [  98],
       [  99],
       [  99],
       [  99],
       [ 100],
       [ 100],
       [ 100],
       [ 100],
       [ 101],
       [ 101],
       [ 103],
       [ 103],
       [ 104],
       [ 104],
       [ 105],
       [ 106],
       [ 106],
       [ 106],
       [ 107],
       [ 107],
       [ 108],
       [ 108],
       [ 110],
       [ 110],
       [ 113],
       [ 114],
       [ 114],
       [ 114],
       [ 114],
       [ 115],
       [ 115],
       [ 115],
       [ 115],
       [ 117],
       [ 117],
       [ 117],
       [ 117],
       [ 117],
       [ 118],
       [ 118],
       [ 118],
       [ 118],
       [ 119],
       [ 119],
       [ 119],
       [ 120],
       [ 120],
       [ 121],
       [ 121],
       [ 121],
       [ 121],
       [ 122],
       [ 122],
       [ 122],
       [ 122],
       [ 123],
       [ 124],
       [ 125],
       [ 125],
       [ 125],
       [ 126],
       [ 126],
       [ 126],
       [ 126],
       [ 127],
       [ 128],
       [ 128],
       [ 129],
       [ 130],
       [ 131],
       [ 132],
       [ 132],
       [ 133],
       [ 134],
       [ 135],
       [ 135],
       [ 136],
       [ 136],
       [ 137],
       [ 137],
       [ 138],
       [ 139],
       [ 139],
       [ 142],
       [ 142],
       [ 143],
       [ 143],
       [ 144],
       [ 148],
       [ 148],
       [ 148],
       [ 149],
       [ 149],
       [ 152],
       [ 152],
       [ 152],
       [ 154],
       [ 155],
       [ 157],
       [ 158],
       [ 160],
       [ 160],
       [ 162],
       [ 162],
       [ 162],
       [ 162],
       [ 163],
       [ 163],
       [ 163],
       [ 163],
       [ 164],
       [ 164],
       [ 165],
       [ 165],
       [ 166],
       [ 166],
       [ 167],
       [ 168],
       [ 170],
       [ 171],
       [ 172],
       [ 172],
       [ 173],
       [ 174],
       [ 174],
       [ 176],
       [ 176],
       [ 178],
       [ 179],
       [ 179],
       [ 180],
       [ 180],
       [ 182],
       [ 183],
       [ 184],
       [ 185],
       [ 186],
       [ 186],
       [ 188],
       [ 188],
       [ 188],
       [ 189],
       [ 189],
       [ 190],
       [ 190],
       [ 192],
       [ 193],
       [ 194],
       [ 194],
       [ 195],
       [ 199],
       [ 199],
       [ 200],
       [ 200],
       [ 202],
       [ 202],
       [ 202],
       [ 203],
       [ 203],
       [ 204],
       [ 204],
       [ 208],
       [ 210],
       [ 211],
       [ 212],
       [ 212],
       [ 214],
       [ 217],
       [ 217],
       [ 217],
       [ 218],
       [ 218],
       [ 220],
       [ 222],
       [ 224],
       [ 225],
       [ 225],
       [ 226],
       [ 226],
       [ 228],
       [ 228],
       [ 230],
       [ 232],
       [ 232],
       [ 233],
       [ 234],
       [ 234],
       [ 235],
       [ 236],
       [ 237],
       [ 238],
       [ 238],
       [ 238],
       [ 242],
       [ 242],
       [ 243],
       [ 243],
       [ 245],
       [ 249],
       [ 251],
       [ 252],
       [ 252],
       [ 252],
       [ 254],
       [ 255],
       [ 257],
       [ 262],
       [ 263],
       [ 264],
       [ 265],
       [ 266],
       [ 269],
       [ 269],
       [ 271],
       [ 271],
       [ 271],
       [ 271],
       [ 273],
       [ 274],
       [ 276],
       [ 279],
       [ 280],
       [ 282],
       [ 282],
       [ 285],
       [ 287],
       [ 288],
       [ 290],
       [ 294],
       [ 295],
       [ 299],
       [ 300],
       [ 305],
       [ 309],
       [ 311],
       [ 311],
       [ 313],
       [ 313],
       [ 316],
       [ 330],
       [ 335],
       [ 337],
       [ 339],
       [ 342],
       [ 355],
       [ 363],
       [ 367],
       [ 376],
       [ 378],
       [ 378],
       [ 387],
       [ 390],
       [ 393],
       [ 404],
       [ 409],
       [ 409],
       [ 410],
       [ 420],
       [ 421],
       [ 429],
       [ 430],
       [ 441],
       [ 447],
       [ 454],
       [ 456],
       [ 458],
       [ 470],
       [ 472],
       [ 490],
       [ 494],
       [ 505],
       [ 515],
       [ 528],
       [ 550],
       [ 557],
       [ 572],
       [ 587],
       [ 587],
       [ 596],
       [ 599],
       [ 605],
       [ 622],
       [ 624],
       [ 633],
       [ 691],
       [ 713],
       [ 730],
       [ 771],
       [ 787],
       [ 818],
       [ 823],
       [ 881],
       [ 931],
       [ 948],
       [1009],
       [1136],
       [1174],
       [1290],
       [1439],
       [1626],
       [1777],
       [1806],
       [1873],
       [1974],
       [2177],
       [6334]], dtype=int64)

In [41]:
total_interaction.reshape(495,1).shape

(495, 1)

In [42]:
total_interaction.reshape(5,99)

array([[   0,    0,    0,    0,    0,    2,    2,    3,    3,    4,    4,
           5,    5,    6,    6,    6,    7,    7,    7,    8,    9,    9,
          10,   10,   10,   10,   12,   14,   14,   15,   15,   17,   17,
          17,   17,   18,   18,   21,   24,   25,   25,   28,   28,   29,
          30,   32,   32,   34,   34,   34,   35,   36,   36,   38,   38,
          38,   39,   39,   39,   39,   39,   39,   40,   41,   42,   42,
          44,   44,   45,   45,   46,   48,   49,   49,   50,   53,   53,
          53,   53,   54,   54,   54,   55,   55,   56,   56,   57,   58,
          58,   58,   59,   59,   60,   60,   61,   62,   63,   63,   64],
       [  65,   65,   66,   66,   66,   67,   67,   67,   67,   67,   68,
          68,   68,   68,   69,   69,   70,   70,   70,   70,   71,   71,
          71,   71,   72,   72,   72,   72,   73,   73,   73,   74,   75,
          75,   75,   75,   75,   75,   77,   79,   79,   79,   80,   81,
          81,   81,   82,   83,   83,   83,   83,   84,   84,   84,   84,
          85,   85,   85,   86,   86,   86,   87,   87,   87,   88,   89,
          89,   90,   90,   90,   90,   90,   91,   91,   92,   93,   94,
          94,   94,   95,   95,   96,   96,   96,   97,   97,   97,   97,
          97,   98,   98,   99,   99,   99,  100,  100,  100,  100,  101],
       [ 101,  103,  103,  104,  104,  105,  106,  106,  106,  107,  107,
         108,  108,  110,  110,  113,  114,  114,  114,  114,  115,  115,
         115,  115,  117,  117,  117,  117,  117,  118,  118,  118,  118,
         119,  119,  119,  120,  120,  121,  121,  121,  121,  122,  122,
         122,  122,  123,  124,  125,  125,  125,  126,  126,  126,  126,
         127,  128,  128,  129,  130,  131,  132,  132,  133,  134,  135,
         135,  136,  136,  137,  137,  138,  139,  139,  142,  142,  143,
         143,  144,  148,  148,  148,  149,  149,  152,  152,  152,  154,
         155,  157,  158,  160,  160,  162,  162,  162,  162,  163,  163],
       [ 163,  163,  164,  164,  165,  165,  166,  166,  167,  168,  170,
         171,  172,  172,  173,  174,  174,  176,  176,  178,  179,  179,
         180,  180,  182,  183,  184,  185,  186,  186,  188,  188,  188,
         189,  189,  190,  190,  192,  193,  194,  194,  195,  199,  199,
         200,  200,  202,  202,  202,  203,  203,  204,  204,  208,  210,
         211,  212,  212,  214,  217,  217,  217,  218,  218,  220,  222,
         224,  225,  225,  226,  226,  228,  228,  230,  232,  232,  233,
         234,  234,  235,  236,  237,  238,  238,  238,  242,  242,  243,
         243,  245,  249,  251,  252,  252,  252,  254,  255,  257,  262],
       [ 263,  264,  265,  266,  269,  269,  271,  271,  271,  271,  273,
         274,  276,  279,  280,  282,  282,  285,  287,  288,  290,  294,
         295,  299,  300,  305,  309,  311,  311,  313,  313,  316,  330,
         335,  337,  339,  342,  355,  363,  367,  376,  378,  378,  387,
         390,  393,  404,  409,  409,  410,  420,  421,  429,  430,  441,
         447,  454,  456,  458,  470,  472,  490,  494,  505,  515,  528,
         550,  557,  572,  587,  587,  596,  599,  605,  622,  624,  633,
         691,  713,  730,  771,  787,  818,  823,  881,  931,  948, 1009,
        1136, 1174, 1290, 1439, 1626, 1777, 1806, 1873, 1974, 2177, 6334]],
      dtype=int64)

In [43]:
total_interaction.reshape(5,99).shape

(5, 99)

In [44]:
total_interaction.reshape(5,9,11)

array([[[   0,    0,    0,    0,    0,    2,    2,    3,    3,    4,
            4],
        [   5,    5,    6,    6,    6,    7,    7,    7,    8,    9,
            9],
        [  10,   10,   10,   10,   12,   14,   14,   15,   15,   17,
           17],
        [  17,   17,   18,   18,   21,   24,   25,   25,   28,   28,
           29],
        [  30,   32,   32,   34,   34,   34,   35,   36,   36,   38,
           38],
        [  38,   39,   39,   39,   39,   39,   39,   40,   41,   42,
           42],
        [  44,   44,   45,   45,   46,   48,   49,   49,   50,   53,
           53],
        [  53,   53,   54,   54,   54,   55,   55,   56,   56,   57,
           58],
        [  58,   58,   59,   59,   60,   60,   61,   62,   63,   63,
           64]],

       [[  65,   65,   66,   66,   66,   67,   67,   67,   67,   67,
           68],
        [  68,   68,   68,   69,   69,   70,   70,   70,   70,   71,
           71],
        [  71,   71,   72,   72,   72,   72,   73,   73,   73,   74,
           75],
        [  75,   75,   75,   75,   75,   77,   79,   79,   79,   80,
           81],
        [  81,   81,   82,   83,   83,   83,   83,   84,   84,   84,
           84],
        [  85,   85,   85,   86,   86,   86,   87,   87,   87,   88,
           89],
        [  89,   90,   90,   90,   90,   90,   91,   91,   92,   93,
           94],
        [  94,   94,   95,   95,   96,   96,   96,   97,   97,   97,
           97],
        [  97,   98,   98,   99,   99,   99,  100,  100,  100,  100,
          101]],

       [[ 101,  103,  103,  104,  104,  105,  106,  106,  106,  107,
          107],
        [ 108,  108,  110,  110,  113,  114,  114,  114,  114,  115,
          115],
        [ 115,  115,  117,  117,  117,  117,  117,  118,  118,  118,
          118],
        [ 119,  119,  119,  120,  120,  121,  121,  121,  121,  122,
          122],
        [ 122,  122,  123,  124,  125,  125,  125,  126,  126,  126,
          126],
        [ 127,  128,  128,  129,  130,  131,  132,  132,  133,  134,
          135],
        [ 135,  136,  136,  137,  137,  138,  139,  139,  142,  142,
          143],
        [ 143,  144,  148,  148,  148,  149,  149,  152,  152,  152,
          154],
        [ 155,  157,  158,  160,  160,  162,  162,  162,  162,  163,
          163]],

       [[ 163,  163,  164,  164,  165,  165,  166,  166,  167,  168,
          170],
        [ 171,  172,  172,  173,  174,  174,  176,  176,  178,  179,
          179],
        [ 180,  180,  182,  183,  184,  185,  186,  186,  188,  188,
          188],
        [ 189,  189,  190,  190,  192,  193,  194,  194,  195,  199,
          199],
        [ 200,  200,  202,  202,  202,  203,  203,  204,  204,  208,
          210],
        [ 211,  212,  212,  214,  217,  217,  217,  218,  218,  220,
          222],
        [ 224,  225,  225,  226,  226,  228,  228,  230,  232,  232,
          233],
        [ 234,  234,  235,  236,  237,  238,  238,  238,  242,  242,
          243],
        [ 243,  245,  249,  251,  252,  252,  252,  254,  255,  257,
          262]],

       [[ 263,  264,  265,  266,  269,  269,  271,  271,  271,  271,
          273],
        [ 274,  276,  279,  280,  282,  282,  285,  287,  288,  290,
          294],
        [ 295,  299,  300,  305,  309,  311,  311,  313,  313,  316,
          330],
        [ 335,  337,  339,  342,  355,  363,  367,  376,  378,  378,
          387],
        [ 390,  393,  404,  409,  409,  410,  420,  421,  429,  430,
          441],
        [ 447,  454,  456,  458,  470,  472,  490,  494,  505,  515,
          528],
        [ 550,  557,  572,  587,  587,  596,  599,  605,  622,  624,
          633],
        [ 691,  713,  730,  771,  787,  818,  823,  881,  931,  948,
         1009],
        [1136, 1174, 1290, 1439, 1626, 1777, 1806, 1873, 1974, 2177,
         6334]]], dtype=int64)

In [45]:
total_interaction.reshape(5,9,11).shape

(5, 9, 11)